discordbot_flow.json
[
    {
        "id": "db18efe3ac9314eb",
        "type": "subflow",
        "name": "Display order selection menu",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 40,
                "y": 80,
                "wires": [
                    {
                        "id": "62805e4ba46602c8"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1180,
                "y": 80,
                "wires": [
                    {
                        "id": "a77140687d405723",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [
            {
                "name": "PLACEHOLDER",
                "type": "str",
                "value": "Choose Order ID"
            },
            {
                "name": "CUSTOM_ID",
                "type": "str",
                "value": ""
            },
            {
                "name": "SINGLE_SELECTION",
                "type": "bool",
                "value": "true"
            }
        ],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "dc9c41d4d73e24d0",
        "type": "function",
        "z": "db18efe3ac9314eb",
        "name": "Display order ID selection",
        "func": "let options = msg.orderIds\n\noptions = options.map(i => ({\"value\": `${i}`, \"label\": `${i}`}))\nlet maxValues = options.length\n\nmsg.payload = \"\"\n\nif (env.get(\"SINGLE_SELECTION\")){\n    maxValues = 1\n}\n\nmsg.components = [\n    {\n        \"type\": 1,\n        \"components\": [\n            {\n                \"type\": 3,\n                \"custom_id\": env.get(\"CUSTOM_ID\"),\n                \"options\": options,\n                \"placeholder\": env.get(\"PLACEHOLDER\"),\n                \"min_values\": 1,\n                \"max_values\": maxValues\n            }\n        ]\n    }\n]\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 630,
        "y": 80,
        "wires": [
            [
                "a77140687d405723"
            ]
        ]
    },
    {
        "id": "a77140687d405723",
        "type": "json",
        "z": "db18efe3ac9314eb",
        "name": "Convert to JSON to JS obj",
        "property": "components",
        "action": "obj",
        "pretty": false,
        "x": 900,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "62805e4ba46602c8",
        "type": "switch",
        "z": "db18efe3ac9314eb",
        "name": "Proceed only if there are cancellable orders",
        "property": "orderIds",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 290,
        "y": 80,
        "wires": [
            [
                "dc9c41d4d73e24d0"
            ]
        ]
    },
    {
        "id": "e849b814077b7388",
        "type": "subflow:db18efe3ac9314eb",
        "z": "9aa1b7149d539ec3",
        "name": "Display order selection menu",
        "env": [
            {
                "name": "CUSTOM_ID",
                "value": "OrderRepeat",
                "type": "str"
            }
        ],
        "x": 1720,
        "y": 280,
        "wires": [
            [
                "ddf7e8ddd1d54f4c"
            ]
        ]
    }
]