flow.json
[
    {
        "id": "03f07d3f5b088a54",
        "type": "tab",
        "label": "New Working Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "00c5d287f0bedbec",
        "type": "OpcUa-Server",
        "z": "03f07d3f5b088a54",
        "port": "53880",
        "name": "",
        "endpoint": "",
        "users": "users.json",
        "nodesetDir": "",
        "folderName4PKI": "",
        "autoAcceptUnknownCertificate": true,
        "registerToDiscovery": false,
        "constructDefaultAddressSpace": true,
        "allowAnonymous": true,
        "endpointNone": true,
        "endpointSign": true,
        "endpointSignEncrypt": true,
        "endpointBasic128Rsa15": true,
        "endpointBasic256": true,
        "endpointBasic256Sha256": true,
        "maxNodesPerBrowse": 0,
        "maxNodesPerHistoryReadData": 0,
        "maxNodesPerHistoryReadEvents": 0,
        "maxNodesPerHistoryUpdateData": 0,
        "maxNodesPerRead": 0,
        "maxNodesPerWrite": 0,
        "maxNodesPerMethodCall": 0,
        "maxNodesPerRegisterNodes": 0,
        "maxNodesPerNodeManagement": 0,
        "maxMonitoredItemsPerCall": 0,
        "maxNodesPerHistoryUpdateEvents": 0,
        "maxNodesPerTranslateBrowsePathsToNodeIds": 0,
        "maxConnectionsPerEndpoint": "60",
        "maxMessageSize": 4096,
        "maxBufferSize": 4096,
        "x": 920,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "f55d06d4eab8278d",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_sensor0;datatype=Boolean",
        "datatype": "Boolean",
        "value": "0",
        "name": "_sensor0",
        "x": 560,
        "y": 380,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "a81b72b8c4dfd703",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_sensor1;datatype=Boolean",
        "datatype": "Boolean",
        "value": "0",
        "name": "_sensor1",
        "x": 560,
        "y": 460,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "6c306157eea14a6d",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_sensor2;datatype=Boolean",
        "datatype": "Boolean",
        "value": "0",
        "name": "_sensor2",
        "x": 560,
        "y": 560,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "482e9807538a092f",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_conveyor0;datatype=Boolean;value=false",
        "datatype": "Boolean",
        "value": "",
        "name": "_conveyor0",
        "x": 570,
        "y": 660,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "c35e8d930cbbd9e2",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_conveyor1;datatype=Boolean;value=false",
        "datatype": "Boolean",
        "value": "",
        "name": "_conveyor1",
        "x": 570,
        "y": 720,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "3cfedaf6b2df3ae9",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_conveyor2;datatype=Boolean;value=false",
        "datatype": "Boolean",
        "value": "",
        "name": "_conveyor2",
        "x": 570,
        "y": 780,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "7fc90d1adc2b7bd5",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_conveyor3a;datatype=Boolean;value=false",
        "datatype": "Boolean",
        "value": "",
        "name": "_conveyor3a",
        "x": 570,
        "y": 860,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "832f799fd86f1281",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_conveyor3b;datatype=Boolean;value=false",
        "datatype": "Boolean",
        "value": "",
        "name": "_conveyor3b",
        "x": 570,
        "y": 920,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "047b0a131cfa7c75",
        "type": "inject",
        "z": "03f07d3f5b088a54",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"opcuaCommand\":\"addVariable\"}",
        "payloadType": "json",
        "x": 210,
        "y": 740,
        "wires": [
            [
                "f55d06d4eab8278d",
                "a81b72b8c4dfd703",
                "6c306157eea14a6d",
                "482e9807538a092f",
                "c35e8d930cbbd9e2",
                "3cfedaf6b2df3ae9",
                "7fc90d1adc2b7bd5",
                "832f799fd86f1281",
                "d388f69d166545bd",
                "3aa30524ecb201b1",
                "ec81df35eb1432c0",
                "fb1b99058c1e3d06"
            ]
        ]
    },
    {
        "id": "a96cdafb69f466b7",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "let sensor_no = flow.get(\"sensor_no\")\n\nmsg.topic = \"ns=2;s=_sensor\"+ sensor_no +\";datatype=Boolean\"\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 400,
        "wires": [
            [
                "3eb0688190b05146"
            ]
        ]
    },
    {
        "id": "3eb0688190b05146",
        "type": "OpcUa-Client",
        "z": "03f07d3f5b088a54",
        "endpoint": "df2f1b827a0d1854",
        "action": "read",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 1780,
        "y": 400,
        "wires": [
            [
                "1e62ecc6acfcc7b5"
            ]
        ]
    },
    {
        "id": "1e62ecc6acfcc7b5",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "let sensor_no = flow.get(\"sensor_no\")\nlet order_no = flow.get(\"orders\")\nlet complete_orders = flow.get(\"completed_orders\")\nlet prevSenReading = flow.get(\"previousSensorReading\")\nmsg.completeFlavor = \"false\";\nmsg.completeOrder = \"false\";\n\nif(msg.payload & !prevSenReading){\n    prevSenReading = true\n    complete_orders[sensor_no] += 1\n    flow.set(\"completed_orders\", complete_orders)\n} else{\n    prevSenReading = false\n}\n\nif(complete_orders[sensor_no] >= order_no[sensor_no]){\n        // Turn on conveyor here\n        sensor_no += 1\n        if(sensor_no >= order_no.length){\n            msg.completeOrder = \"true\";\n        }\n        flow.set(\"sensor_no\", sensor_no)\n        msg.completeFlavor = \"true\"\n}\nflow.set(\"previousSensorReading\", prevSenReading)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1960,
        "y": 400,
        "wires": [
            [
                "fa7faa6ace39db12",
                "c7cc2ddfef1f48a6",
                "3e50477f3312a5d4"
            ]
        ]
    },
    {
        "id": "f485da2d7fde0dbc",
        "type": "OpcUa-Client",
        "z": "03f07d3f5b088a54",
        "endpoint": "df2f1b827a0d1854",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 2660,
        "y": 400,
        "wires": [
            [
                "88a17c10d07a655b"
            ]
        ]
    },
    {
        "id": "d388f69d166545bd",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_Emitter0;datatype=Boolean;value=false",
        "datatype": "Boolean",
        "value": "0",
        "name": "_Emitter0",
        "x": 560,
        "y": 980,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "3aa30524ecb201b1",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_Emitter1;datatype=Boolean;value=false",
        "datatype": "Boolean",
        "value": "0",
        "name": "_Emitter1",
        "x": 560,
        "y": 1040,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "ec81df35eb1432c0",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_Emitter2;datatype=Boolean;value=false",
        "datatype": "Boolean",
        "value": "0",
        "name": "_Emitter2",
        "x": 560,
        "y": 1100,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "39bbdb08f0c83e22",
        "type": "OpcUa-Client",
        "z": "03f07d3f5b088a54",
        "endpoint": "df2f1b827a0d1854",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 3220,
        "y": 400,
        "wires": [
            [
                "1bafcd3eb5be0af7"
            ]
        ]
    },
    {
        "id": "88a17c10d07a655b",
        "type": "delay",
        "z": "03f07d3f5b088a54",
        "name": "",
        "pauseType": "delay",
        "timeout": "3.9",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2850,
        "y": 400,
        "wires": [
            [
                "05b9e186f0255920"
            ]
        ]
    },
    {
        "id": "05b9e186f0255920",
        "type": "change",
        "z": "03f07d3f5b088a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3020,
        "y": 400,
        "wires": [
            [
                "39bbdb08f0c83e22"
            ]
        ]
    },
    {
        "id": "fa7faa6ace39db12",
        "type": "switch",
        "z": "03f07d3f5b088a54",
        "name": "",
        "property": "completeFlavor",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2130,
        "y": 400,
        "wires": [
            [
                "cb269b42d9802cd2",
                "4c02407eab36d242"
            ]
        ]
    },
    {
        "id": "b813445d28e90a00",
        "type": "change",
        "z": "03f07d3f5b088a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=2;s=_conveyor3a;datatype=Boolean",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2480,
        "y": 400,
        "wires": [
            [
                "f485da2d7fde0dbc"
            ]
        ]
    },
    {
        "id": "cb269b42d9802cd2",
        "type": "delay",
        "z": "03f07d3f5b088a54",
        "name": "",
        "pauseType": "delay",
        "timeout": "1.65",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2290,
        "y": 400,
        "wires": [
            [
                "b813445d28e90a00"
            ]
        ]
    },
    {
        "id": "5f95f6914df089c5",
        "type": "trigger",
        "z": "03f07d3f5b088a54",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "date",
        "op2type": "date",
        "duration": "-600",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1400,
        "y": 400,
        "wires": [
            [
                "a96cdafb69f466b7"
            ]
        ]
    },
    {
        "id": "c7cc2ddfef1f48a6",
        "type": "switch",
        "z": "03f07d3f5b088a54",
        "name": "",
        "property": "completeOrder",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 2130,
        "y": 460,
        "wires": [
            [
                "b8b21bca01945d0f"
            ]
        ]
    },
    {
        "id": "5e5767d82578ca38",
        "type": "change",
        "z": "03f07d3f5b088a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=2;s=_conveyor3b;datatype=Boolean",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2460,
        "y": 460,
        "wires": [
            [
                "0411ba019a1304cd"
            ]
        ]
    },
    {
        "id": "b8b21bca01945d0f",
        "type": "delay",
        "z": "03f07d3f5b088a54",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2280,
        "y": 460,
        "wires": [
            [
                "5e5767d82578ca38"
            ]
        ]
    },
    {
        "id": "0411ba019a1304cd",
        "type": "OpcUa-Client",
        "z": "03f07d3f5b088a54",
        "endpoint": "df2f1b827a0d1854",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 2660,
        "y": 460,
        "wires": [
            [
                "e4f8924c7d9e2a65"
            ]
        ]
    },
    {
        "id": "744cadb8b493fb4b",
        "type": "change",
        "z": "03f07d3f5b088a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3020,
        "y": 460,
        "wires": [
            [
                "0e6f4a6c5c647209"
            ]
        ]
    },
    {
        "id": "0e6f4a6c5c647209",
        "type": "OpcUa-Client",
        "z": "03f07d3f5b088a54",
        "endpoint": "df2f1b827a0d1854",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 3220,
        "y": 460,
        "wires": [
            [
                "4c02407eab36d242"
            ]
        ]
    },
    {
        "id": "e4f8924c7d9e2a65",
        "type": "delay",
        "z": "03f07d3f5b088a54",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 2840,
        "y": 460,
        "wires": [
            [
                "744cadb8b493fb4b"
            ]
        ]
    },
    {
        "id": "23acf231fb14ab6e",
        "type": "inject",
        "z": "03f07d3f5b088a54",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1420,
        "y": 200,
        "wires": [
            [
                "6f5de5aff78384a7"
            ]
        ]
    },
    {
        "id": "278f127fe68f4140",
        "type": "debug",
        "z": "03f07d3f5b088a54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1790,
        "y": 200,
        "wires": []
    },
    {
        "id": "6f5de5aff78384a7",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "msg.payload = flow.get(\"orders\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1600,
        "y": 200,
        "wires": [
            [
                "278f127fe68f4140"
            ]
        ]
    },
    {
        "id": "4c02407eab36d242",
        "type": "change",
        "z": "03f07d3f5b088a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 300,
        "wires": [
            [
                "5f95f6914df089c5"
            ]
        ]
    },
    {
        "id": "1bafcd3eb5be0af7",
        "type": "change",
        "z": "03f07d3f5b088a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1160,
        "y": 240,
        "wires": [
            [
                "5f95f6914df089c5"
            ]
        ]
    },
    {
        "id": "1929e0c47a9cf842",
        "type": "ui_numeric",
        "z": "03f07d3f5b088a54",
        "name": "",
        "label": "White Lotus",
        "tooltip": "",
        "group": "d72ae193bfd3f53b",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "payload",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "step": 1,
        "className": "",
        "x": 1510,
        "y": 600,
        "wires": [
            [
                "c188e37397dcaec0"
            ]
        ]
    },
    {
        "id": "6f7ad61cb3e546bf",
        "type": "ui_numeric",
        "z": "03f07d3f5b088a54",
        "name": "",
        "label": "Red Bean",
        "tooltip": "",
        "group": "d72ae193bfd3f53b",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "payload",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "step": 1,
        "className": "",
        "x": 1500,
        "y": 680,
        "wires": [
            [
                "4fe7c3d46ec9c929"
            ]
        ]
    },
    {
        "id": "fc43cc589b013bbd",
        "type": "ui_numeric",
        "z": "03f07d3f5b088a54",
        "name": "",
        "label": "Green Tea",
        "tooltip": "",
        "group": "d72ae193bfd3f53b",
        "order": 1,
        "width": 0,
        "height": 0,
        "wrap": false,
        "passthru": false,
        "topic": "payload",
        "topicType": "msg",
        "format": "{{value}}",
        "min": 0,
        "max": "3",
        "step": 1,
        "className": "",
        "x": 1510,
        "y": 760,
        "wires": [
            [
                "9ecb42edb9593cfc"
            ]
        ]
    },
    {
        "id": "c188e37397dcaec0",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "let orders = flow.get(\"orders\")\norders[0] = msg.payload\nflow.set(\"orders\", orders)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "45276df477681c4b",
        "type": "inject",
        "z": "03f07d3f5b088a54",
        "name": "Start Dashboard",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1580,
        "y": 820,
        "wires": [
            [
                "f058d5bbfb43a863"
            ]
        ]
    },
    {
        "id": "f058d5bbfb43a863",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "msg = flow.get(\"orders\");\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\nflow.set(\"orders\",[0,0,0]);",
        "finalize": "",
        "libs": [],
        "x": 1760,
        "y": 820,
        "wires": [
            [
                "88b976ecec1bd1e5"
            ]
        ]
    },
    {
        "id": "88b976ecec1bd1e5",
        "type": "debug",
        "z": "03f07d3f5b088a54",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1930,
        "y": 820,
        "wires": []
    },
    {
        "id": "4fe7c3d46ec9c929",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "let orders = flow.get(\"orders\")\norders[1] = msg.payload\nflow.set(\"orders\", orders)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 680,
        "wires": [
            []
        ]
    },
    {
        "id": "9ecb42edb9593cfc",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "let orders = flow.get(\"orders\")\norders[2] = msg.payload\nflow.set(\"orders\", orders)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "c6469c339029e837",
        "type": "ui_button",
        "z": "03f07d3f5b088a54",
        "name": "",
        "group": "d72ae193bfd3f53b",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Confirm",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1020,
        "y": 660,
        "wires": [
            [
                "704b350cd7d52968",
                "07b38a573cd87411",
                "c1933d96cd786ef1",
                "f7db7df67460576b"
            ]
        ]
    },
    {
        "id": "704b350cd7d52968",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "msg.enabled = false;\norders = flow.get(\"orders\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 660,
        "wires": [
            [
                "1929e0c47a9cf842",
                "6f7ad61cb3e546bf",
                "fc43cc589b013bbd"
            ]
        ]
    },
    {
        "id": "026d881c8adac34d",
        "type": "ui_button",
        "z": "03f07d3f5b088a54",
        "name": "",
        "group": "d72ae193bfd3f53b",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Reset",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1010,
        "y": 720,
        "wires": [
            [
                "0d21c0918f0d86da",
                "e345060ce520983a"
            ]
        ]
    },
    {
        "id": "0d21c0918f0d86da",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "msg.enabled = true;\nflow.set(\"orders\",[0,0,0]);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1180,
        "y": 720,
        "wires": [
            [
                "6f7ad61cb3e546bf",
                "1929e0c47a9cf842",
                "fc43cc589b013bbd"
            ]
        ]
    },
    {
        "id": "5b694439b002ed8b",
        "type": "ui_text",
        "z": "03f07d3f5b088a54",
        "group": "d72ae193bfd3f53b",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Status",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 1370,
        "y": 820,
        "wires": []
    },
    {
        "id": "07b38a573cd87411",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "msg.payload = \"Order complete\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 820,
        "wires": [
            [
                "5b694439b002ed8b"
            ]
        ]
    },
    {
        "id": "e345060ce520983a",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "msg.payload = \"\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 880,
        "wires": [
            [
                "5b694439b002ed8b"
            ]
        ]
    },
    {
        "id": "b812d10f8ff58b8b",
        "type": "function",
        "z": "03f07d3f5b088a54",
        "name": "",
        "func": "flow.set(\"sensor_no\",0)\nflow.set(\"completed_orders\", [0,0,0])\nflow.set(\"previousSensorReading\", false)\n\nmsg.payload = flow.get(\"completed_orders\")\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1200,
        "y": 400,
        "wires": [
            [
                "5f95f6914df089c5"
            ]
        ]
    },
    {
        "id": "a2887cf9fbc0c989",
        "type": "inject",
        "z": "03f07d3f5b088a54",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1020,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "3e50477f3312a5d4",
        "type": "switch",
        "z": "03f07d3f5b088a54",
        "name": "",
        "property": "sensor_no",
        "propertyType": "flow",
        "rules": [
            {
                "t": "cont",
                "v": "3",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1570,
        "y": 320,
        "wires": [
            [
                "4c02407eab36d242"
            ]
        ]
    },
    {
        "id": "fb1b99058c1e3d06",
        "type": "OpcUa-Item",
        "z": "03f07d3f5b088a54",
        "item": "ns=2;s=_Emitter3;datatype=Boolean;value=false",
        "datatype": "Boolean",
        "value": "0",
        "name": "_Emitter3",
        "x": 560,
        "y": 1160,
        "wires": [
            [
                "00c5d287f0bedbec"
            ]
        ]
    },
    {
        "id": "c1933d96cd786ef1",
        "type": "change",
        "z": "03f07d3f5b088a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=2;s=_conveyor3a;datatype=Boolean",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 460,
        "wires": [
            [
                "434dc09df4bcb8cd"
            ]
        ]
    },
    {
        "id": "434dc09df4bcb8cd",
        "type": "OpcUa-Client",
        "z": "03f07d3f5b088a54",
        "endpoint": "df2f1b827a0d1854",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 1420,
        "y": 460,
        "wires": [
            [
                "062fbec76e2fb4c1"
            ]
        ]
    },
    {
        "id": "091cda4eda926369",
        "type": "change",
        "z": "03f07d3f5b088a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 460,
        "wires": [
            [
                "3c35f42a0f3951cd"
            ]
        ]
    },
    {
        "id": "3c35f42a0f3951cd",
        "type": "OpcUa-Client",
        "z": "03f07d3f5b088a54",
        "endpoint": "df2f1b827a0d1854",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 1960,
        "y": 460,
        "wires": [
            [
                "b812d10f8ff58b8b"
            ]
        ]
    },
    {
        "id": "062fbec76e2fb4c1",
        "type": "delay",
        "z": "03f07d3f5b088a54",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 460,
        "wires": [
            [
                "091cda4eda926369"
            ]
        ]
    },
    {
        "id": "f7db7df67460576b",
        "type": "change",
        "z": "03f07d3f5b088a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "ns=2;s=_Emitter3;datatype=Boolean",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1220,
        "y": 500,
        "wires": [
            [
                "7fde079ecf3cb6a0"
            ]
        ]
    },
    {
        "id": "7fde079ecf3cb6a0",
        "type": "OpcUa-Client",
        "z": "03f07d3f5b088a54",
        "endpoint": "df2f1b827a0d1854",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 1420,
        "y": 500,
        "wires": [
            [
                "220ff86baf343b4d"
            ]
        ]
    },
    {
        "id": "7e24dafc0803528a",
        "type": "change",
        "z": "03f07d3f5b088a54",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1760,
        "y": 500,
        "wires": [
            [
                "b15a428395afe14f"
            ]
        ]
    },
    {
        "id": "b15a428395afe14f",
        "type": "OpcUa-Client",
        "z": "03f07d3f5b088a54",
        "endpoint": "df2f1b827a0d1854",
        "action": "write",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 1960,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "220ff86baf343b4d",
        "type": "delay",
        "z": "03f07d3f5b088a54",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "0",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1580,
        "y": 500,
        "wires": [
            [
                "7e24dafc0803528a"
            ]
        ]
    },
    {
        "id": "df2f1b827a0d1854",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://127.0.0.1:53880",
        "secpol": "None",
        "secmode": "None",
        "none": false,
        "login": false,
        "usercert": false,
        "usercertificate": "",
        "userprivatekey": ""
    },
    {
        "id": "d72ae193bfd3f53b",
        "type": "ui_group",
        "name": "Orders",
        "tab": "9701f14a61da984a",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "9701f14a61da984a",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]